<form action="/song/create" method="post" enctype="multipart/form-data">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="artist">Artist</label>
        <input type="text" name="artist" id="artist">
    </div>
    <div>
        <label for="file">File</label>
        <input type="file" name="file" id="file">
    </div>
    <div>
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
    </div>
</form>