<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Songs</title>

        <%- include('../libraries') %>

        <script type="module" src="/application.js"></script>
    </head>
    <body>
        <div class="container">
            <div
                data-controller="entity"
                data-entity-name-value="song"
            >
                <h1 class="mt-3">Songs</h1>
                
                <div class="d-flex gap-3 my-4">
                    <button
                        class="btn btn-outline-primary"
                        type="button"
                        data-action="click->entity#loadForm"
                    >
                        <i class="bi bi-plus"></i>
                    </button>
                    <input
                        class="form-control w-auto"
                        type="text"
                        placeholder="filter..."
                        size="30"
                        data-action="change->entity#filterTable"
                    >
                </div>
                
                <turbo-frame id="table" data-entity-target="table"></turbo-frame>
                
                <div class="modal" data-bs-backdrop="static" data-entity-target="modal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <turbo-frame id="form" data-entity-target="form"></turbo-frame>
                        </div>
                    </div>
                </div>

                <div class="toast-container position-absolute bottom-0 py-3">
                    <div class="toast text-bg-success" data-entity-target="toast">
                        <div class="toast-body" data-entity-target="message"></div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>