<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Music player | Songs</title>

        <%- include('../libraries') %>

        <link rel="icon" href="/favicon.ico">
        <script type="module" src="/application.js"></script>
    </head>
    <body>
        <div class="container">
            <div
                data-controller="page"
                data-page-table-outlet="#table-controller"
                data-page-modal-outlet="#modal-controller"
                data-page-toast-outlet="#toast-controller"
            >
                
                <h1 class="mt-3">Songs</h1>

                <div
                    id="table-controller"
                    data-controller="table"
                    data-table-url-value="/song/table"
                >
                    <div class="d-flex gap-3 my-4">
                        <button
                            class="btn btn-outline-primary"
                            type="button"
                            data-action="click->page#openModal"
                            data-page-url-param="/song/form"
                        >
                            <i class="bi bi-plus"></i>
                        </button>
                        <input
                            class="form-control"
                            type="text"
                            placeholder="filter..."
                            data-action="change->table#filter"
                            style="max-width: 20rem;"
                        >
                    </div>
                    <turbo-frame id="table" data-table-target="table"></turbo-frame>
                </div>
                
                <div
                    id="modal-controller"
                    data-controller="modal"
                >
                    <div class="modal" data-bs-backdrop="static" data-modal-target="modal">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <turbo-frame id="modal-content" data-modal-target="modalContent"></turbo-frame>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    id="toast-controller"
                    data-controller="toast"
                >
                    <div class="toast-container position-absolute bottom-0 py-3">
                        <div class="toast text-bg-success w-auto" data-toast-target="toast">
                            <div class="toast-body" data-toast-target="toastBody"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>